%thead
  %tr
    %th= t("entries.index.date")
    %th= t("entries.index.project")
    %th= t('entries.index.supplier')
    %th.hide-for-mobile= t('entries.index.description')
    %th= t("entries.index.amount")
    %th= t('entries.index.exchangerate')
    %th= t('entries.index.value')

    - if @user == current_user
      %th.right
    %th.right.hide-for-mobile
%tbody
  - @expenses_entries.each do |entry|
    - localized_cache cache_key_for_current_user(entry) do
      %tr.info-row
        %td.date
          %div.weekday= t("weekdays." + entry.date.strftime('%A').downcase)
          = I18n.l (entry.date)
        %td.project= link_to entry.project.name, entry.project
        %td.supplier= entry.supplier
        %td.description.hide-for-mobile= entry.description
        %td.value= "#{entry.amount} #{entry.currency}"
        %td.exchangerate= entry.exchangerate
        %td.value.center= entry.value
        - if @user == current_user
          %td.actions.right
            = link_to t('entries.index.edit'), edit_expense_path(entry)
            |
            = link_to t('entries.index.delete'), expense_path(entry) , method: :delete, class: "destroy", data: { confirm: t(:confirm) }
        %td.changes.right.hide-for-mobile= link_to t('entries.index.changes'), expense_audits_path(entry) if entry.audits.any?