- content_for :page_title, @contact.name

.outer
  .container
    - localized_cache @contact do
      .contacts
        %header
          = link_to t("contact.edit"), edit_contact_path(@contact)
          %h1
            = contact_title(@contact)
          %p
            = @contact.department
      = render "/time_span"
  %ul.clients-projects-overview
    = render "project", projects: @projects
