%li.tab-header-and-content
  %a.tab-link{href: "#mileages"}= t("entries.index.mileages")
  #mileages-tab.tab-reports-content
    %table.entries
      %tr
        %th
          %input{ type: "checkbox", "data-project-id" => @project.id, "data-entry_type" => "mileages", class: "bill-project" }
          = t("billables.table.billed")
        %th= t("billables.table.date")
        %th= t("billables.table.description")
        %th= t("entries.index.mileages")
        %th= t("billables.table.user")
      - billable_mileages_of(@project).each do |mileage|
        %tr.info-row
          %td= billable_entry_checkbox(mileage, "mileages")
          %td= I18n.l (mileage.date)
          %td= mileage.description
          %td.center= mileage.value
          %td
            = link_to mileage.user do
              = mileage.user.full_name
