%div.marked_entries
  %p#amount_marked_entries
    =t("billables.select_marked")
  %button{id: "submit-billable-entries", disabled: true}
    =t("billables.buttons.bill_selected")
  %hr
  = render "application/filters"
.outer
  .container
    %table.entries-table
      %thead
        %tr
          %th= t("billables.index.project")
          %th= t("billables.index.client")
          %th= t("billables.index.hours")
          %th= t("billables.index.mileages")
          %th= t("billables.index.expenses")
      %tbody
        - @projects.each do |project|
          - localized_cache [project, current_locale] do
            %tr.info-row
              %td= link_to project.name, billable_path(project)
              %td= project.client.name
              %td= project.unbilled_hours
              %td= project.unbilled_mileages
              %td= project.unbilled_expenses