%div.marked_entries
  %p#amount_marked_entries
    =t("billables.select_marked")
  %button{id: "submit-billable-entries", disabled: true}
    =t("billables.buttons.bill_selected")
  %hr
  = render "application/filters"
.outer
  .container
    %ul
      - @projects.each do |project|
        %li
          = link_to project.name, billable_path(project)
          = project.name
          = project.unbilled_hours
          = project.unbilled_mileages
          = project.unbilled_expenses