.container
  .sidebar
    .container
      = render "filters"
      %hr
      %h5= t("entries.download")
      %hr

      = form_tag wage_report_path(:csv), method: :get do
        = select_year(Date.today, {:prompt => "Year",:start_year => DateTime.now.year,:end_year => DateTime.now.year - 7},{:field_name => 'year', :id => 'start-year'})
        
        = select_month(Date.today, {:prompt => "month",use_short_month: true},{:field_name => 'month', :id => 'start-month'})
        = submit_tag("Download WageReport", :id=>"button", :class=>"Wage", :name=>"submit")    
      %hr
  .reports-tabs-container
    %ul.accordion-tabs
      = render partial: "hours_reports"
      = render partial: "mileages_reports"
      = render partial: "expenses_reports"



